@charset "utf-8";
body{
    background-image: linear-gradient(to left, rgb(0, 63, 76) 2%, rgb(0, 132, 209) 40%, white );
}
p{
    font-size: 25px;
}

div.container{ 
    width: 300px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 50px;
    
} 
div.center{
    border-color: black;
    border-width: 3px;
    border-style: solid;

}
div.dev1{
    border-color: black;
    border-width: 0.1px;
    border-style: solid;
}
div.dev2{
    border-color: black;
    border-width: 0.1px;
    border-style: solid;
}