@charset "utf-8";
body{
    background-image: linear-gradient(to left, rgb(0, 63, 76),rgb(0, 132, 209)  , white);
}
p{
    font-size: 25px;
}
div.left{
    width: 600px;
    height: 200px;
    text-align: center;
}