@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #000000;
    /* fundo preto */
}

::-webkit-scrollbar-thumb {
    background: #ff0000;
    /* barra vermelha */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #cc0000;
    /* vermelho escuro ao passar o mouse */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/img/jhondl-education-3670453.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: darken;

}

header {
    display: flex;
    width: 100vw;
    height: 70px;

    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

nav {
    display: flex;
    width: 60%;
    height: 70px;
    justify-content: space-around;
    align-items: center;
}

header ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 20px;
}

header a {
    transition: 0.5s ease;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

header a:hover {
    color: rgb(255, 255, 255);
    transition: all 0.5s ease;
    font-size: 30px;
}

section.hero {
    display: flex;
    text-align: center;
    width: 100vw;
    height: 60vh;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);


}

section .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;



}

section.right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;

    padding: 20px;

}

section.hero h1 {
    transition: 0.5s;
    font-size: 40px;
    padding-bottom: 20px;
}

section.hero h1:hover {
    cursor: pointer;
    transition: 0.5s ease;
    font-size: 45px;
}

section.hero p {
    font-size: 20px;
    transition: 0.5s;
}

section.hero p:hover {
    cursor: pointer;
    transition: 0.5s ease;
    font-size: 22px;
}

section.hero img {
    width: 600px;
    border-radius: 20px;
    margin-left: 60px;
    transition: 0.5s ease;
}

section.hero img:hover {
    transition: 0.5s ease;
    width: 650px;
    border-radius: 20px;
}

section.demo {

    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    height: 70vh;
}



section.demo h1 {
    font-size: 50px;
    transition: 0.5s;
}

section.demo h1:hover {
    cursor: pointer;
    transition: 0.5s ease;
    font-size: 55px;
}

section.demo .organização {
    display: flex;
    margin-top: 100px;
    font-size: 20px;

}

section.demo .left-demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 60px;

}

section.demo .right-demo {
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: 24px;
    padding-right: 10px;

}

section.demo .right-demo:hover {
    font-size: 26px;
    transition: 0.5s ease;
}

section.demo .right-demo:hover {
    cursor: pointer;
}

section.demo .left-demo img {
    width: 550px;
    transition: 0.5s;
    border-radius: 20px;

}

section.demo .left-demo img:hover {
    width: 600px;
    border-radius: 20px;
    transition: 0.5s ease;
}

button {
    transition: 0.5s ease;
    font-size: 30px;
    color: aliceblue;
    background-color: black;
    margin: 30px;
    height: 100px;
    width: 300px;
    border-radius: 20px;
}

button:hover {
    cursor: pointer;
    transition: 0.5s ease;
    color: black;
    background-color: aliceblue;
}

button a {
    text-decoration: none;
    color: aliceblue;
    padding: 50px 20px;
    justify-content: center;
    align-items: center;
}

button a:hover {
    color: black;
}